<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="EUC-KR">
	<title>Insert title here</title>
</head>

<body>
	<h1>Condition</h1>
	<hr />
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${userStat.count}"></td> <!--목록 번호 -->
			<td th:text="*{user.userName}">데이터 없음</td> <!-- 태그 밖에 있는 값들은 default 값 : 만약 user.userName에 값이 없으면 출력 -->
			<td>
				<span th:text="${user.age}">0</span>
				<span th:text="'미성년자'" th:if="${user.age lt 20}"></span>
				<span th:text="'미성년자'" th:unless="${user.age ge 20}"></span>
			</td> 
		</tr>
	</table>
	
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${userStat.count}"></td> <!--목록 번호 -->
			<td th:text="*{user.userName}">데이터 없음</td> <!-- 태그 밖에 있는 값들은 default 값 : 만약 user.userName에 값이 없으면 출력 -->
			<td th:switch="${user.age}">
				<span th:case="15">15살</span>
				<span th:case="23">23살</span>
				<span th:case="*">기타</span> <!-- * : 그 외 나머지 (default) -->
			</td> 
		</tr>
	</table>
</body>

</html>